.projects {
  background-color: #2f2e41;
  padding: 2rem 1rem;
  text-align: center;
}

@media screen and (min-width: 765px) {
  .projects {
    padding: 2rem 2rem;
    // max-width: 400px;
  }
}

@media screen and (min-width: 1025px) {
  .projects {
    padding: 2rem 4rem;
  }
}

@media screen and (min-width: 1750px) {
  .projects {
    padding: 2rem 20rem;
  }
}
