.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #323f4d;
  padding: 0rem 1rem;

  h2 {
    text-align: center;
  }

  &__container {
    margin: 2rem 0rem;
  }

  &__description {
    margin-top: 1rem;
    line-height: 1.5;
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 321px) {
  .info {
    padding: 2rem 2rem;
    // max-width: 400px;
  }
}

@media screen and (min-width: 765px) {
  .info {
    padding: 2rem 2rem;
    // max-width: 400px;
  }
}

@media screen and (min-width: 1025px) {
  .info {
    padding: 2rem 4rem;
  }
}

@media screen and (min-width: 1750px) {
  .info {
    padding: 2rem 20rem;
  }
}
