@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0rem;
  padding: 0rem;
}

body {
  font-family: "Inter";
  /* background-color: #1d1e22; */
  color: #dadada;
}
